# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs & temp
*.log
*.tmp
*.cache

# Environment
.env
.env.*

# Dependencies
node_modules/
vendor/

# Build / Dist
dist/
build/

# Tests & coverage
coverage/

# Mac specific
.AppleDouble
.LSOverride